*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.logo{
    font-size: 35px;
    font-style: oblique;
    font-weight: 1000;
}
nav{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
}
a{
    text-decoration: none;
    color: black;
}
li{
    padding: 10px 15px;
}
li a {
    font-size: 25px;
    font-weight: 500;
}
.content{
    display: flex;
}
.tier{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tier:nth-child(1){
    background: purple;
}
.tier:nth-child(2){
    background: gold;
}
.tier:nth-child(3){
    background: blue;
}